
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<body>

    <form method="get" action="~/Login/Login">
        <input  type="text" name="userName" id="txtUserName"/><b></b>
          <input type="password" name="pwd" id="txtPwd"/>
        <input type="submit" value="登录" id="subLogin"/>
        <input type="reset" value="重置" id="reset"/>
    </form>
    <a href="~/Login/GitHub">GitHub Login</a>
</body>

